.social-media-container {
    position: fixed;
    height: 300px;
    width: 250px;
    top: 50%;
    right: 0;
    margin: -150px 0 0 -125px;
    padding: 0;
  }
   
  .social-media.blog {
    background-color: #e17b77;
  }
  
  .social-media.blog i {
    margin-left: 19px;
  }
  
  .social-media.twitter {
    background-color: #00aced;
  }
  
  .social-media.linkedin {
    background-color: #007bb6;
  }
  
  .social-media.facebook {
    background-color: #3b5998;
    margin-left: px;
  }
  
  .social-media.facebook i {
    margin-left: 24px;
  }
  
  .social-media.github {
    background-color: #333;
  }
